/* Resetting defaults*/
ul, button {
    margin: 0;
    padding: 0;
}
li, h3 {
    list-style: none;
}
input, button {
    outline: none;
}
/* Basic Styles */
.page {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}
.header {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
    font-family: fantasy, cursive;
}
.header__img {
    width: 100%;
}
@media (max-width: 768px) {
  .header { 
    text-align: center;
  }
}
.todos {
    width: 500px;
    margin: 16px auto 0;
}
.todos__heading {
    display: blok;
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
.todos__btn {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
.todos__btn:hover {
    color: #3a3a3a;
}
.todos__text-input {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
.todos__text-input:focus {
    color: #333;
}
.todos__task-name {
    width: 56%;
    display: inline-block;
    flex-grow: 1;
}
/* Add Item */
.todos__new-task {
    padding: 20px 0;
    display: flex;
}
/* Task list */
.todos__task-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todos__checkbox {
    margin: 0 10px;
}
.todos__label {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}
.todos__delete-btn-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.todos__delete-btn-img:hover {
    transform: rotateZ(0);
}
/* Completed */
.todos__complete .todos__label {
    text-decoration: line-through;
    color: #888;
}
/* Edit Task */
.todos__task-item .todos__text-input {
    display: none;
}

.todos__task-item_editMode .todos__text-input {
    display: inline-block;
    width: 224px;
}

.todos__task-item_editMode .todos__label {
    display: none;
}